.logo-img{
    width: 1.5em;
    height: 1.5em;
}

.logo-name {
    display: inline;
    font-size: 1em;
}

.brand-colors {
    background: linear-gradient(to right, #f04563 , #f47638);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    font-family: 'Saira Extra Condensed', sans-serif;
}

h1 {
    padding-top: 1em;
}

.container {
    padding: 1.5em;
}

form {
    width: -moz-available;
}

fieldset {
    width: 100%;
}

label {
    padding-right: 30px;
    margin-bottom: 0;
    margin-left: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(244,118,56, 0), rgba(240, 69, 99, 0.75), rgba(244,118,56, 0));
}

#submit {
    border-color: #f04563;
    color: #f04563;
}

.card {
    margin: 20px;
}

.center-item {
    margin: 0 auto 0 auto;
    display: block;
}

.spotlight {
    width: 310px;
}